<div class="row">
  <div class="card col-lg">
    <%= render 'shared/show_header', {object: @ip_rede, titulo: "Rede IP #{@ip_rede.cidr}"} %>
    <div class="card-body">
      <div class="card-columns" style="column-count: 2">
        <%= link_to @ip_rede.ponto do %>
          <%= render 'shared/field_card', {campo: "Ponto de Acesso", valor: @ip_rede.ponto.nome} %>
        <% end %>
        <%= render 'shared/field_card', {campo: "Rede", valor: @ip_rede.cidr} %>
      </div>
    </div>
  </div>
</div>
