<div class="card-header">
  <h3><%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, path, class: "btn btn-sm btn-outline-dark" %>
  <%= link_to '<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>'.html_safe, path, method: :delete,
    class: "btn btn-sm btn-danger", data: { confirm: 'Você tem certeza?' } %>
  Alterar <%= titulo %></h3>
</div>
