<% cor = defined?(cor) ? cor : 'bg-primary' %>
<div class="card border-dark <%= cor %>">
    <div class="card-header"><%= campo %></div>
    <div class="card-text" align="right"><br><%= valor %>&nbsp</div>
</div>
