<div class="card-header">
    <h3>
    <%= link_to({controller: controller.controller_name, action: :index}, class: "btn btn-sm btn-outline-dark") do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <% end %>
    <% if can? :edit, object.model_name %>
      <%= link_to({controller: controller.controller_name, action: :edit, id: object}, class: "btn btn-sm btn-outline-dark") do %>
        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
      <% end %>
    <% end %>
    <%= defined?(titulo) ? titulo : object.model_name.singular.capitalize + ' ' + object.nome %></h3>
</div>
