<div class="card">
  <%= render '/shared/table_header', {new_path: new_servidor_path, titulo: "Concentradores", search_field: :nome_cont} %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>IP</th>
         </tr>
        </thead>

        <tbody>
          <% @servidores.each do |servidor| %>
            <tr>
              <td><%= link_to servidor.nome, servidor %></td>
              <td><%= servidor.ip.to_s %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @servidores %>
</div>
