<div class="card">
  <%= render '/shared/table_header', {new_path: new_logradouro_path, titulo: "Logradouros", search_field: :nome_cont} %>
  <div class="card-body">
    <%= render 'table', logradouro: @logradouros %>
  </div>
</div>
