<div class="card">
<%= render 'shared/show_header', {object: @logradouro} %>
<div class="card-body">
  <div class="card-columns" style="column-count: 3">
    <%= link_to @logradouro.bairro do %>
      <%= render 'shared/field_card', {campo: "Bairro", valor: @logradouro.bairro.nome_cidade_uf} %>
    <% end %>
    <%= render 'shared/field_card', {campo: "CEP", valor: @logradouro.cep} %>
  </div>
</div>
