<div class="card">
  <%= render '/shared/table_header', {new_path: new_cidade_path, titulo: "Cidades", search_field: :nome_cont} %>
  <div class="card-body">
    <%= render 'table', cidades: @cidades %>
  </div>
</div>
