<h1>Editing Estado</h1>

<%= render 'form', estado: @estado %>

<p><%= link_to 'Excluir', @estado, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<p><%= link_to 'Voltar', estados_path %></p>
