<div class="card">
  <%= render 'shared/show_header', {object: @estado} %>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <%= render 'shared/field_card', {campo: "Sigla", valor: @estado.sigla} %>
      <%= render 'shared/field_card', {campo: "IBGE", valor: @estado.ibge} %>
    </div>
  </div>
</div>
<div class="card">
  <%= render 'cidades/table', cidades: @cidades %>
</div>
