.card
  = render '/shared/table_header', {object: @conexoes, search_string: :usuario_or_mac_or_pessoa_nome_cont, params: @params}
  .card-body
    .table-responsive
      table.table.table-striped
        thead
          tr
            - if !defined?(exclude) or exclude != 'pessoa'
              th Pessoa
            th Plano
            - if !defined?(exclude) or exclude != 'ponto'
              th Ponto
            th Usuário
            th IP
            th Bloq.
            th Inadim.
            th Conectado?
        tbody
          - @conexoes.each do |conexao|
            tr
              - if !defined?(exclude) or exclude != 'pessoa'
                td= link_to conexao.pessoa.nome, conexao.pessoa
              td= link_to conexao.plano.nome, conexao.plano
              - if !defined?(exclude) or exclude != 'ponto'
                td= link_to conexao.ponto.nome, conexao.ponto
              td= link_to conexao.usuario, conexao
              td= conexao.ip
              td= conexao.bloqueado.as_checkbox
              td= conexao.inadimplente.as_checkbox
              td= conexao.conectado.as_checkbox
  = paginate @conexoes, :params => {:tab => "conexoes"}
